@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隱藏滾動條（適用於計算器中的國家選擇欄） */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}
